@model IEnumerable<DataAccessLayer.Models.TimeSheet>
<style>
    table, th, td {
        border: 1px solid black;
        text-align:center;
    }
</style>
<div class="row">
    <header><h1>Your DashBoard</h1></header>
    <div class="col-md-12">
        <div class="form-group">
            <table style="width:100%; margin-top:10px;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            Your Work Time
                        </th>
                        <th>
                            Total Break Time
                        </th>
                        <th>
                            Total-Work Time
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any()) 
                     { 
                        @foreach(var item in Model)
                         {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalWorkingTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalBreakTime)
                                </td>
                                <td>
                                    @{var workTime = item.TotalWorkingTime - item.TotalBreakTime;}
                                    @workTime
                                </td>
                            </tr>    
                         }
                     }
                     else
                    {
                        <tr>
                            <td>
                                <h3>There is no record for this month</h3>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>